apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "code-marketplace.fullname" . }}
  labels:
    {{- include "code-marketplace.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "code-marketplace.selectorLabels" . | nindent 6 }}
  strategy:
    type: Recreate
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "code-marketplace.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "code-marketplace.serviceAccountName" . }}
      {{- if or (.Values.volumes) (not .Values.persistence.artifactory.enabled) }}
      volumes:
      {{- if not .Values.persistence.artifactory.enabled }}
        - name: extensions
          persistentVolumeClaim:
            claimName: {{ include "code-marketplace.fullname" . }}
      {{- end }}
      {{- with .Values.volumes }}
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          {{- if .Values.persistence.artifactory.enabled }}
            - name: "ARTIFACTORY_TOKEN"
              valueFrom:
                secretKeyRef:
                  name: artifactory
                  key: token
          {{- end }}
          {{- with .Values.extraEnv }}
            {{- toYaml . | nindent 12 }}
          {{- end }} 
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          args:
            - --address
            - "0.0.0.0:{{ .Values.service.port }}"
            {{- if .Values.persistence.artifactory.enabled }}
            - --artifactory
            - {{ .Values.persistence.artifactory.uri }}
            - --repo
            - {{ .Values.persistence.artifactory.repo }}
            {{- else }}
            - --extensions-dir
            - /extensions
            {{- end }}
            {{- if .Values.verboseLogging }}
            - --verbose
            {{- end }}
            {{- if .Values.extensionSigning }}
            - --sign
            {{- end }}
          {{- if or (.Values.volumeMounts) (not .Values.persistence.artifactory.enabled) }}
          volumeMounts:
          {{- if not .Values.persistence.artifactory.enabled }}
            - name: extensions
              mountPath: /extensions
          {{- end }}
          {{- with .Values.volumeMounts }}
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- end }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
          readinessProbe:
            httpGet:
              path: /healthz
              port: http
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
