name: publish

on:
  release:
    types:
      - released
  workflow_dispatch:
    inputs:
      version:
        description: The version to publish.
        type: string
        required: true

permissions:
  packages: write # For pushing to ghcr.io.

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: robinraju/release-downloader@v1.12
        with:
          repository: "coder/code-marketplace"
          tag: ${{ github.event.inputs.version || github.ref_name }}
          fileName: "code-marketplace-linux-*"
          out-file-path: "bin"

      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3
      - run: docker buildx bake -f ./docker-bake.hcl --push
        env:
          VERSION: ${{ github.event.inputs.version || github.ref_name }}
